<!DOCTYPE html>
<html lang="en">
  {% extends 'scheduler/base.html' %} {% block 'body' %}

  <head>
    <title>Artists</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'js/app.js' %}" />
  </head>

  <body>
    {% block title %}Artists{% endblock %} {% block content %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="artist-list">
      <table>
        {% for artist in artists %}
        <div class="artist">
          <tr>
            <h3>{{ artist.name }} - {{ artist.location }}</h3>
          </tr>
        </div>
      </table>
      {% endfor %}
    </div>
    {% endblock %} {% endblock %}
  </body>
</html>
