{% extends 'scheduler/base.html' %} {% block 'body' %} {% load widget_tweaks %}

<div class="container">

    <h1>Book a Session</h1>

    <h2>{{ note }}</h2>

    <form action="{% url 'createsession' %}" method="post">
        {% csrf_token %} {% for field in sessionform %}
        <div class="form-group">
            {{ field.errors }} {{ field.label_tag }} {% render_field field class="form-control"%}
        </div>

        {% endfor %}

        <input type="submit" value="Book Session">
    </form>

    <br><br>
    <a href="{% url 'home' %}">Return to home page</a>
</div>

{% endblock %}