<!DOCTYPE html>
<html lang="en">
{% extends 'scheduler/base.html' %} {% block 'body' %}

<head>
    <title>Engineers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block title %}Engineers{% endblock %} {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="engineer-list">
        <table>

            {% for engineer in engineers %}
            <div class="engineer">
                <tr>
                    <h3>{{ engineer.name }} - {{ engineer.location }}</h3>
                </tr>
            </div>
        </table>
        {% endfor %}
    </div>
    {% endblock %} {% endblock %}
</body>

</html>